.FunctionBar {
    justify-self: center;
    width: 740px;
    height: 200px;
    display: grid;
    grid-template-rows: 1.2fr 0.8fr;
    border: none;
    

    .FunctionBar-Add {
        display: flex;
        gap : 10px;
        align-items: center;
        justify-content: center;
        border: 1px solid #e3c1ff;
        background: rgb(255, 255, 255);
        width: 740px;
        border-radius: 20px;
        
        input {
            padding-left: 20px;
            font-size: 18px;
            line-height: 100%;
            height: 40px;
            width: 65%;
            outline: none;
            border: none;
            background-color: rgb(236, 236, 236);
            border: 1px solid #e5e7eb;
            border-radius: 5px;
            transition: 0.2s ease;

            &:focus {
                background-color: rgb(253, 250, 255);
                box-shadow: 
                    0 0 3px rgb(156, 81, 255);
            }
        }

        button {
            width: 20%;
            height: 41px;
            font-size: 18px;
            color : rgb(75, 0, 173);
            border: none;
            border-radius: 5px;
            background: linear-gradient(to right,#69cef3,#a98fe7);
            transition: 0.2s ease-in;

            &:disabled {
                background: linear-gradient(to right, #8fdffc, #c3b5e4);
                color: rgb(133, 102, 173);
                cursor: not-allowed;
                box-shadow: none;
                transform: none;
            }

            &:not(:disabled):hover {
                transform: translateY(-1px);
                box-shadow: 0 8px 20px rgba(169, 143, 231, 0.35);
            }

            &:not(:disabled):active {
                transform: scale(0.97);
            }
        }


    }

    .FunctionBar-Filter {
        justify-self: center;
        display: grid;
        grid-template-columns: 350px 350px;

        li {
            list-style: none;
            border-radius: 6px;
        }

        ul {
            display: flex;
            gap : 10px;
            align-self: center;
        }

        .FunctionBar-Status {
            font-size: 13px;
            padding: 0;
            margin: 0;
            
            
            li {
                height: 25px;
                width: 90px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #f2def8;
                background: rgb(253, 249, 249);
            }
        }

        .FunctionBar-Filter-Button {
            justify-self: right;

            li {
                height: 30px;
                padding: 3px;
                padding-left: 5px;
                padding-right: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 3px;
                cursor: pointer;

            }
        }
    }
}