.TaskCard {
    justify-self: center;
    width: 722px;
    height: 70px;
    border: 1px solid #e3c1ff;
    margin-top: 10px;
    background-color: white;
    box-shadow: 
        0 1px #e3c1ff;

    display: grid;
    grid-template-columns: 0.15fr 0.8fr 0.15fr;
    border-radius: 10px;

    animation: appear 0.4s ease forwards;

    img {
        cursor: pointer;
    }

    .TaskCard-icon {
        justify-self: center;
        align-self: center;
    }

    .TaskCard-data {
        margin-top: -12px;

        .title {
            font-size: 22px;
        }

        .date {
            margin-top: -15px;
            font-size: 12px;
        }
    }

    .TaskCard-data1 {
        display : flex;
        margin: auto;
        margin-left: 30px;
        gap: 10px;

        input {
            font-size: 22px;
            width: 530px;
            height: 30px;
            align-self: center;
            padding-left: 20px;
            border: none;
            background-color: rgb(236, 236, 236);
            border-radius: 5px;
            transition: 0.2s ease;
            outline: none;

            &:focus {
                background-color: rgb(253, 250, 255);
                box-shadow: 
                    0 0 3px rgb(156, 81, 255);
            }
        }

        button {
            width: 80px;
            height: 34px;
            border-radius: 5px;
            outline: none;
            background: rgb(228, 228, 228);
            border: 1px solid rgb(214, 214, 214);
            transition: 0.2s ease;

            &:hover {
                background: rgb(207, 207, 207);
                transform: translateY(-1px);
                box-shadow: 
                    0 2px black;
            }

            &:active {
                transform: translateY(1px);
                box-shadow: 
                    inset 0 2px black;
            }
        }
    }
    
    .TaskCard-func {
        display: flex;
        gap : 20px;
        img {
            width: 20px;
        }
    }
}

@keyframes appear {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}