

.Notification {
    position: fixed;
    width: 340px;
    height: 100px;
    bottom: 20px;
    right: 20px;
    justify-self: flex-end;
    display: grid;
    grid-template-columns: 0.29fr 0.69fr;
    border-radius: 20px 20px 0 0;
    animation: flyup 2.2s ease forwards;

    .Notification-message {

        display: flex;
        flex-direction: column;

        h3 {
            margin-top: 20px;
        }
        p {
            margin-top: -10px;
        }
    }

    .time-bar {
        position: fixed;
        width: 340px;
        height: 5px;
        background: linear-gradient(90deg,#69cef3,#a98fe7,#ffb6c1);
        z-index: -3;
        animation: timeload 2.2s ease forwards;
        align-self: flex-end;
    }
}

@keyframes flyup {
    0% {
        transform: translateY(40px);
        opacity: 0;
    }

    30% {
        transform: translateY(0px);
        opacity: 1;
    }

    70% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(40px);
        opacity: 0;
    }
}

@keyframes timeload {
    0% {
        width: 0px;
    }

    100% {
        width: 340px;
    }
}