body {
  height: 100vh;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  padding: 0;
  margin: 0;

  background:linear-gradient(62deg, #ffffff, #f6f9fc, #f1f9ff, #f5fdff, #ebfbfd, #effcff, #e6f5f8, #e7fbff, #eaf9ff, #eef6ff, #efedfc, #faecff) no-repeat;
}
button {
  cursor: pointer;
}